.card {
  margin: 1em 0 1em 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container .textField,
.container .formControl {
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
}

.container .textFieldWide {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
}

.container .textFieldNarrow {
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}
