.overlayContainer {
  flex: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 40px;
  background: rgba(255, 255, 255, 0.5);
}

.container {
}

.progress {
}
