@media (min-width: 600px) {
  .card {
    margin: 1em 0 1em 0;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  flex-grow: 0;
}

.subContainer {
  display: flex;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .container .textField,
  .container .formControl {
    margin-left: 0px;
    margin-right: 10px;
    flex-grow: 1;
  }
}
@media (min-width: 600px) {
  .container .textField,
  .container .formControl {
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 5;
  }
}

.container .textField.wide {
  width: 100%;
}

.container .textField.medium {
  flex-grow: 1;
}

.container .textField.narrow {
  max-width: 80px;
  flex-grow: 1;
}

.container .textField.tiny {
  max-width: 50px;
  flex-grow: 1;
}

.container .last {
  padding-right: 12px !important;
}

.container .zero {
  padding-right: 0px !important;
}
